main/default/flows/hooperloop1_updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>subm11</name>
        <label>subm11</label>
        <locationX>176</locationX>
        <locationY>1787</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>ass222</name>
        <label>ass222</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>loop1count1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aaaa1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1count1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aaaa1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1count1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aaaa1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1count1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aaaa1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1count1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aaaa1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1count1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aaaa1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1count1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aaaa1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1count1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aaaa1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1count1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aaaa1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1count1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aaaa1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1count1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aaaa1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1count1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aaaa1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1count1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aaaa1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1count1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aaaa1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1count1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aaaa1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1count1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aaaa1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1count1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aaaa1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1count1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aaaa1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1count1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aaaa1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign1</name>
        <label>assign1</label>
        <locationX>440</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>aaaa1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>const1111</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_3_of_get_rec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asssss3333</name>
        <label>asssss3333</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>aaaa1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>asdasdasdasdsad</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass222</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Copy_1_of_tfy</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Copy 1 of tfy</label>
        <locationX>440</locationX>
        <locationY>1295</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Copy_1_of_get_rec</collectionReference>
        <connector>
            <targetReference>loop2</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>BillingState</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>sort1</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>sort1</label>
        <locationX>352</locationX>
        <locationY>647</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>loop1count1</collectionReference>
        <connector>
            <targetReference>loop2</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>tfy</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>tfy</label>
        <locationX>440</locationX>
        <locationY>971</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Copy_1_of_get_rec</collectionReference>
        <connector>
            <targetReference>assign1</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>BillingCity</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <constants>
        <name>asdasdasdasd</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.2312312E7</numberValue>
        </value>
    </constants>
    <constants>
        <name>asdasdasdasdsad</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>const1111</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>constttt111</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1000.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>loop1Count</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1000.0</numberValue>
        </value>
    </constants>
    <interviewLabel>hooperloop1_updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>hooperloop1_updated</label>
    <loops>
        <name>loop1</name>
        <label>loop1</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>loop1count1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sort1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_3_of_Copy_3_of_get_rec</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop2</name>
        <label>loop2</label>
        <locationX>352</locationX>
        <locationY>755</locationY>
        <collectionReference>loop1count1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_get_rec</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_2_of_Copy_3_of_get_rec</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Copy_3_of_get_rec</name>
        <label>Copy 1 of Copy 3 of get rec</label>
        <locationX>440</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_tfy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Description</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>test</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_get_rec</name>
        <label>Copy 1 of get rec</label>
        <locationX>440</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tfy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Description</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>test</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Copy_3_of_get_rec</name>
        <label>Copy 2 of Copy 3 of get rec</label>
        <locationX>352</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Description</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>test</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_3_of_Copy_3_of_get_rec</name>
        <label>Copy 3 of Copy 3 of get rec</label>
        <locationX>176</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>subm11</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Description</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>test</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>asssss3333</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>lalala</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>aaaa1</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>loop1count1</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>loop1count11</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>loop1Count</elementReference>
        </value>
    </variables>
    <variables>
        <name>loop2count2</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
