main/default/flows/X11.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>case</name>
        <label>case</label>
        <locationX>264</locationX>
        <locationY>1874</locationY>
        <actionName>NewCase</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>llp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>first_try</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>test note</description>
        <name>new_note</name>
        <label>new note</label>
        <locationX>176</locationX>
        <locationY>2366</locationY>
        <actionName>NewNote</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Title</name>
            <value>
                <elementReference>date</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>test</description>
        <name>qwerty</name>
        <label>qwerty</label>
        <locationX>704</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>get_recs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_recs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>test</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>yui</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>yui</label>
        <locationX>176</locationX>
        <locationY>1550</locationY>
        <assignNextValueToReference>currentItem_yui</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_recs</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_yui.Name</leftValueReference>
            <operator>IsBlank</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>llp</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>test</name>
        <label>test</label>
        <locationX>704</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Loop_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>first_try</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>new_note</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_3</targetReference>
            </connector>
            <label>first try</label>
        </rules>
    </decisions>
    <decisions>
        <name>yyy</name>
        <label>yyy</label>
        <locationX>176</locationX>
        <locationY>2174</locationY>
        <defaultConnector>
            <targetReference>new_note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>rrr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>start</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>start</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>new_note</targetReference>
            </connector>
            <label>rrr</label>
        </rules>
        <rules>
            <name>jjiu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>new_note</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>new_note</targetReference>
            </connector>
            <label>jjiu</label>
        </rules>
        <rules>
            <name>bn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>email_test.value</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>new_note</targetReference>
            </connector>
            <label>bn</label>
        </rules>
    </decisions>
    <interviewLabel>11 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>11</label>
    <loops>
        <name>llp</name>
        <label>llp</label>
        <locationX>176</locationX>
        <locationY>1658</locationY>
        <collectionReference>yui</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>new_rec3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>fail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>get_recs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>new_rec</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_2</name>
        <label>Loop 2</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <collectionReference>get_recs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>yui</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_3</name>
        <label>Loop 3</label>
        <locationX>528</locationX>
        <locationY>758</locationY>
        <collectionReference>get_recs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>qwerty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>new_rec</name>
        <label>new rec</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>get_recs</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>new_rec3</name>
        <label>new rec</label>
        <locationX>264</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>case</targetReference>
        </connector>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>test cont</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>text__c</field>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_recs</name>
        <label>get recs</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Description</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_records</name>
        <label>update records</label>
        <locationX>528</locationX>
        <locationY>1250</locationY>
        <connector>
            <targetReference>email</targetReference>
        </connector>
        <inputReference>get_recs</inputReference>
    </recordUpdates>
    <screens>
        <description>test</description>
        <name>email</name>
        <label>email</label>
        <locationX>528</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
        <fields>
            <name>email_test</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X1_step</name>
        <label>1 step</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <fields>
            <name>date</name>
            <dataType>Date</dataType>
            <fieldText>date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X1_step</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>fail</name>
        <label>fail</label>
        <locationX>176</locationX>
        <locationY>2066</locationY>
        <connector>
            <targetReference>yyy</targetReference>
        </connector>
        <flowName>Flow_2_Error</flowName>
    </subflows>
    <textTemplates>
        <name>start</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;start here&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItem_yui</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
</Flow>
