main/default/flows/X12.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>asd</name>
        <label>asd</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <actionName>NewEvent</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>StartDateTime</name>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EndDateTime</name>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>q1</name>
        <label>q1</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_rec</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>fsf</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>fsf</label>
        <locationX>176</locationX>
        <locationY>19244</locationY>
        <assignNextValueToReference>currentItem_fsf</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_rec</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_fsf.BillingCity</leftValueReference>
            <operator>IsBlank</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>X123</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>ref</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>ref</label>
        <locationX>176</locationX>
        <locationY>17276</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>get_acc</collectionReference>
        <connector>
            <targetReference>Loop_5</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Name</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>vfdv</name>
        <label>vfdv</label>
        <locationX>176</locationX>
        <locationY>17084</locationY>
        <defaultConnector>
            <targetReference>ref</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hgf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ref</targetReference>
            </connector>
            <label>hgf</label>
        </rules>
    </decisions>
    <interviewLabel>12 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>12</label>
    <loops>
        <name>iom</name>
        <label>iojmnb</label>
        <locationX>176</locationX>
        <locationY>11684</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_92</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>error_flow</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>asd</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_10</name>
        <label>Loop 10</label>
        <locationX>2816</locationX>
        <locationY>17816</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_11</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_11</name>
        <label>Loop 11</label>
        <locationX>2816</locationX>
        <locationY>18008</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_9</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_12</name>
        <label>Loop 12</label>
        <locationX>176</locationX>
        <locationY>18944</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Records_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>fsf</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_13</name>
        <label>Loop 13</label>
        <locationX>176</locationX>
        <locationY>1316</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_14</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_14</name>
        <label>Loop 14</label>
        <locationX>176</locationX>
        <locationY>1508</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_28</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_15</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_15</name>
        <label>Loop 15</label>
        <locationX>176</locationX>
        <locationY>2468</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_27</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_16</name>
        <label>Loop 16</label>
        <locationX>176</locationX>
        <locationY>3044</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_17</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_17</name>
        <label>Loop 17</label>
        <locationX>176</locationX>
        <locationY>3236</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_18</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_18</name>
        <label>Loop 18</label>
        <locationX>176</locationX>
        <locationY>3428</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>sadf</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_19</name>
        <label>Loop 19</label>
        <locationX>176</locationX>
        <locationY>16124</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_20</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>vfdv</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_2</name>
        <label>Loop 2</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_45</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_20</name>
        <label>Loop 20</label>
        <locationX>880</locationX>
        <locationY>16232</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_21</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_19</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_21</name>
        <label>Loop 21</label>
        <locationX>1232</locationX>
        <locationY>16340</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_23</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_20</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_22</name>
        <label>Loop 22</label>
        <locationX>1408</locationX>
        <locationY>16640</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_21</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_23</name>
        <label>Loop 23</label>
        <locationX>1408</locationX>
        <locationY>16448</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_22</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_24</name>
        <label>Loop 24</label>
        <locationX>176</locationX>
        <locationY>15932</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_19</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_25</name>
        <label>Loop 25</label>
        <locationX>176</locationX>
        <locationY>15740</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_24</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_26</name>
        <label>Loop 26</label>
        <locationX>176</locationX>
        <locationY>2852</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_16</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_27</name>
        <label>Loop 27</label>
        <locationX>176</locationX>
        <locationY>2660</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_26</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_28</name>
        <label>Loop 28</label>
        <locationX>1584</locationX>
        <locationY>1616</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_29</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_14</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_29</name>
        <label>Loop 29</label>
        <locationX>2288</locationX>
        <locationY>1724</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_30</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_28</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_3</name>
        <label>Loop 3</label>
        <locationX>176</locationX>
        <locationY>1124</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_13</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_30</name>
        <label>Loop 30</label>
        <locationX>2640</locationX>
        <locationY>1832</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_31</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_29</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_31</name>
        <label>Loop 31</label>
        <locationX>2816</locationX>
        <locationY>1940</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_30</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_32</name>
        <label>Loop 32</label>
        <locationX>176</locationX>
        <locationY>11492</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>iom</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_33</name>
        <label>Loop 33</label>
        <locationX>176</locationX>
        <locationY>5156</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_50</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_34</name>
        <label>Loop 34</label>
        <locationX>176</locationX>
        <locationY>4964</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_33</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_35</name>
        <label>Loop 35</label>
        <locationX>176</locationX>
        <locationY>4772</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_34</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_36</name>
        <label>Loop 36</label>
        <locationX>176</locationX>
        <locationY>4580</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_35</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_37</name>
        <label>Loop 37</label>
        <locationX>176</locationX>
        <locationY>4388</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_36</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_38</name>
        <label>Loop 38</label>
        <locationX>176</locationX>
        <locationY>4196</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_37</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_39</name>
        <label>Loop 39</label>
        <locationX>176</locationX>
        <locationY>4004</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_38</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_4</name>
        <label>Loop 4</label>
        <locationX>176</locationX>
        <locationY>19568</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>X55</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_40</name>
        <label>Loop 40</label>
        <locationX>176</locationX>
        <locationY>3812</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_39</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_42</name>
        <label>Loop 42</label>
        <locationX>176</locationX>
        <locationY>7076</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_54</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_43</name>
        <label>Loop 43</label>
        <locationX>176</locationX>
        <locationY>6884</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_42</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_44</name>
        <label>Loop 44</label>
        <locationX>176</locationX>
        <locationY>6692</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_43</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_45</name>
        <label>Loop 45</label>
        <locationX>176</locationX>
        <locationY>6500</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_44</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_46</name>
        <label>Loop 46</label>
        <locationX>176</locationX>
        <locationY>6308</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_45</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_47</name>
        <label>Loop 47</label>
        <locationX>176</locationX>
        <locationY>6116</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_46</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_48</name>
        <label>Loop 48</label>
        <locationX>176</locationX>
        <locationY>5924</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_47</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_49</name>
        <label>Loop 49</label>
        <locationX>176</locationX>
        <locationY>5732</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_48</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_5</name>
        <label>Loop 5</label>
        <locationX>176</locationX>
        <locationY>17384</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_6</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_7</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_50</name>
        <label>Loop 50</label>
        <locationX>176</locationX>
        <locationY>5348</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_51</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_51</name>
        <label>Loop 51</label>
        <locationX>176</locationX>
        <locationY>5540</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_49</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_52</name>
        <label>Loop 52</label>
        <locationX>176</locationX>
        <locationY>11300</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_32</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_53</name>
        <label>Loop 53</label>
        <locationX>176</locationX>
        <locationY>11108</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_52</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_54</name>
        <label>Loop 54</label>
        <locationX>176</locationX>
        <locationY>7268</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_55</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_55</name>
        <label>Loop 55</label>
        <locationX>176</locationX>
        <locationY>7460</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_73</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_56</name>
        <label>Loop 56</label>
        <locationX>176</locationX>
        <locationY>10916</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_53</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_57</name>
        <label>Loop 57</label>
        <locationX>176</locationX>
        <locationY>10724</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_56</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_58</name>
        <label>Loop 58</label>
        <locationX>176</locationX>
        <locationY>10532</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_57</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_59</name>
        <label>Loop 59</label>
        <locationX>176</locationX>
        <locationY>10340</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_58</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_6</name>
        <label>Loop 6</label>
        <locationX>1584</locationX>
        <locationY>17492</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_8</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_5</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_60</name>
        <label>Loop 60</label>
        <locationX>176</locationX>
        <locationY>10148</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_59</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_61</name>
        <label>Loop 61</label>
        <locationX>176</locationX>
        <locationY>9956</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_60</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_62</name>
        <label>Loop 62</label>
        <locationX>176</locationX>
        <locationY>9764</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_61</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_63</name>
        <label>Loop 63</label>
        <locationX>176</locationX>
        <locationY>9572</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_62</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_64</name>
        <label>Loop 64</label>
        <locationX>176</locationX>
        <locationY>9380</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_63</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_65</name>
        <label>Loop 65</label>
        <locationX>176</locationX>
        <locationY>8996</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_66</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_66</name>
        <label>Loop 66</label>
        <locationX>176</locationX>
        <locationY>9188</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_64</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_67</name>
        <label>Loop 67</label>
        <locationX>176</locationX>
        <locationY>8804</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_65</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_68</name>
        <label>Loop 68</label>
        <locationX>176</locationX>
        <locationY>8612</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_67</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_69</name>
        <label>Loop 69</label>
        <locationX>176</locationX>
        <locationY>8420</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_68</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_7</name>
        <label>Loop 7</label>
        <locationX>176</locationX>
        <locationY>18644</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>jn</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_70</name>
        <label>Loop 70</label>
        <locationX>176</locationX>
        <locationY>8228</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_69</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_71</name>
        <label>Loop 71</label>
        <locationX>176</locationX>
        <locationY>8036</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_70</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_72</name>
        <label>Loop 72</label>
        <locationX>176</locationX>
        <locationY>7844</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_71</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_73</name>
        <label>Loop 73</label>
        <locationX>176</locationX>
        <locationY>7652</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_72</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_74</name>
        <label>Loop 74</label>
        <locationX>176</locationX>
        <locationY>15140</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_75</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_75</name>
        <label>Loop 75</label>
        <locationX>176</locationX>
        <locationY>15332</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>get_acc</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_76</name>
        <label>Loop 76</label>
        <locationX>176</locationX>
        <locationY>14948</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_74</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_77</name>
        <label>Loop 77</label>
        <locationX>176</locationX>
        <locationY>14756</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_76</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_78</name>
        <label>Loop 78</label>
        <locationX>176</locationX>
        <locationY>14564</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_77</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_79</name>
        <label>Loop 79</label>
        <locationX>176</locationX>
        <locationY>14372</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_78</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_8</name>
        <label>Loop 8</label>
        <locationX>2288</locationX>
        <locationY>17600</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_9</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>kj</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_80</name>
        <label>Loop 80</label>
        <locationX>176</locationX>
        <locationY>14180</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_79</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_81</name>
        <label>Loop 81</label>
        <locationX>176</locationX>
        <locationY>13988</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_80</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_82</name>
        <label>Loop 82</label>
        <locationX>176</locationX>
        <locationY>13796</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_81</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_83</name>
        <label>Loop 83</label>
        <locationX>176</locationX>
        <locationY>13604</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_82</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_84</name>
        <label>Loop 84</label>
        <locationX>176</locationX>
        <locationY>13412</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_83</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_85</name>
        <label>Loop 85</label>
        <locationX>176</locationX>
        <locationY>13220</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_84</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_86</name>
        <label>Loop 86</label>
        <locationX>176</locationX>
        <locationY>13028</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_85</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_87</name>
        <label>Loop 87</label>
        <locationX>176</locationX>
        <locationY>12836</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_86</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_88</name>
        <label>Loop 88</label>
        <locationX>176</locationX>
        <locationY>12644</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_87</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_89</name>
        <label>Loop 89</label>
        <locationX>176</locationX>
        <locationY>12452</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_88</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_9</name>
        <label>Loop 9</label>
        <locationX>2640</locationX>
        <locationY>17708</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_10</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_8</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_90</name>
        <label>Loop 90</label>
        <locationX>176</locationX>
        <locationY>12260</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_89</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_91</name>
        <label>Loop 91</label>
        <locationX>176</locationX>
        <locationY>12068</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_90</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_92</name>
        <label>Loop 92</label>
        <locationX>176</locationX>
        <locationY>11876</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_91</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>sadf</name>
        <label>sadf</label>
        <locationX>176</locationX>
        <locationY>3620</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_40</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Records_2</name>
        <label>Create Records 2</label>
        <locationX>264</locationX>
        <locationY>19052</locationY>
        <connector>
            <targetReference>Loop_12</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsConverted</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsUnreadByOwner</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>jn</name>
        <label>jn</label>
        <locationX>176</locationX>
        <locationY>18836</locationY>
        <connector>
            <targetReference>Loop_12</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X55</name>
        <label>55</label>
        <locationX>176</locationX>
        <locationY>19760</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_acc</name>
        <label>get acc</label>
        <locationX>176</locationX>
        <locationY>15524</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>io</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillingStreet</field>
            <operator>IsNull</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_rec</name>
        <label>get rec</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Approval Process</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>Status</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>upd</name>
        <label>upd</label>
        <locationX>176</locationX>
        <locationY>19460</locationY>
        <connector>
            <targetReference>Loop_4</targetReference>
        </connector>
        <inputReference>Loop_3</inputReference>
    </recordUpdates>
    <screens>
        <name>X123</name>
        <label>123</label>
        <locationX>176</locationX>
        <locationY>19352</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>upd</targetReference>
        </connector>
        <fields>
            <name>text_1</name>
            <dataType>String</dataType>
            <fieldText>text 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X321</name>
        <label>321</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>q1</targetReference>
        </connector>
        <fields>
            <name>text_0</name>
            <dataType>String</dataType>
            <fieldText>text 0</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X321</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>error_flow</name>
        <label>error flow</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <flowName>X11</flowName>
    </subflows>
    <subflows>
        <name>io</name>
        <label>io</label>
        <locationX>176</locationX>
        <locationY>15632</locationY>
        <connector>
            <targetReference>Loop_25</targetReference>
        </connector>
        <flowName>Flow_1_Error</flowName>
    </subflows>
    <subflows>
        <name>kj</name>
        <label>kj</label>
        <locationX>2288</locationX>
        <locationY>18368</locationY>
        <connector>
            <targetReference>Loop_6</targetReference>
        </connector>
        <flowName>Flow_2_Error</flowName>
    </subflows>
    <textTemplates>
        <name>temp1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;test&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItem_fsf</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
