main/default/flows/X12_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>asd</name>
        <label>asd</label>
        <locationX>176</locationX>
        <locationY>16034</locationY>
        <actionName>NewEvent</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Loop_3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>StartDateTime</name>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EndDateTime</name>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_asd</name>
        <label>Copy 1 of asd</label>
        <locationX>5808</locationX>
        <locationY>566</locationY>
        <actionName>NewEvent</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>StartDateTime</name>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EndDateTime</name>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_asd</name>
        <label>Copy 1 of Copy 1 of asd</label>
        <locationX>8712</locationX>
        <locationY>1106</locationY>
        <actionName>NewEvent</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Loop_45</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>StartDateTime</name>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EndDateTime</name>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_asd</name>
        <label>Copy 1 of Copy 1 of Copy 1 of asd</label>
        <locationX>8712</locationX>
        <locationY>1622</locationY>
        <actionName>NewEvent</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Loop_44</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>StartDateTime</name>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EndDateTime</name>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Copy_1_of_q1</name>
        <label>Copy 1 of Copy 1 of q1</label>
        <locationX>8712</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_get_rec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_q1</name>
        <label>Copy 1 of q1</label>
        <locationX>8712</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_get_rec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>q1</name>
        <label>q1</label>
        <locationX>5808</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_rec</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>fsf</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>fsf</label>
        <locationX>8624</locationX>
        <locationY>14174</locationY>
        <assignNextValueToReference>currentItem_fsf</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_rec</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_fsf.BillingCity</leftValueReference>
            <operator>IsBlank</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>X123</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>ref</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>ref</label>
        <locationX>8624</locationX>
        <locationY>12206</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>get_acc</collectionReference>
        <connector>
            <targetReference>Loop_5</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Name</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>vfdv</name>
        <label>vfdv</label>
        <locationX>8624</locationX>
        <locationY>12014</locationY>
        <defaultConnector>
            <targetReference>ref</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hgf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ref</targetReference>
            </connector>
            <label>hgf</label>
        </rules>
    </decisions>
    <interviewLabel>12-2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>12-2</label>
    <loops>
        <name>Copy_6_of_sadf</name>
        <label>Copy 6 of sadf</label>
        <locationX>704</locationX>
        <locationY>17702</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Copy_7_of_sadf</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_7_of_sadf</name>
        <label>Copy 7 of sadf</label>
        <locationX>704</locationX>
        <locationY>17894</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>sadf</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iom</name>
        <label>iojmnb</label>
        <locationX>8624</locationX>
        <locationY>6614</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_92</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>q1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>asd</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_10</name>
        <label>Loop 10</label>
        <locationX>11264</locationX>
        <locationY>12746</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_11</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_11</name>
        <label>Loop 11</label>
        <locationX>11264</locationX>
        <locationY>12938</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_9</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_12</name>
        <label>Loop 12</label>
        <locationX>8624</locationX>
        <locationY>13874</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Records_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>fsf</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_13</name>
        <label>Loop 13</label>
        <locationX>176</locationX>
        <locationY>16334</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_15</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_14</name>
        <label>Loop 14</label>
        <locationX>8624</locationX>
        <locationY>14690</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_28</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>X55</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_15</name>
        <label>Loop 15</label>
        <locationX>176</locationX>
        <locationY>16526</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_26</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_16</name>
        <label>Loop 16</label>
        <locationX>528</locationX>
        <locationY>16826</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_27</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_26</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_17</name>
        <label>Loop 17</label>
        <locationX>176</locationX>
        <locationY>17294</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_18</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_18</name>
        <label>Loop 18</label>
        <locationX>176</locationX>
        <locationY>17486</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sadf</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_40</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_19</name>
        <label>Loop 19</label>
        <locationX>8624</locationX>
        <locationY>11054</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_20</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>vfdv</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_2</name>
        <label>Loop 2</label>
        <locationX>5808</locationX>
        <locationY>674</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_45</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>error_flow</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_20</name>
        <label>Loop 20</label>
        <locationX>9328</locationX>
        <locationY>11162</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_21</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_19</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_21</name>
        <label>Loop 21</label>
        <locationX>9680</locationX>
        <locationY>11270</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_23</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_20</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_22</name>
        <label>Loop 22</label>
        <locationX>9856</locationX>
        <locationY>11570</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_21</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_23</name>
        <label>Loop 23</label>
        <locationX>9856</locationX>
        <locationY>11378</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_22</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_24</name>
        <label>Loop 24</label>
        <locationX>8624</locationX>
        <locationY>10862</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_19</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_25</name>
        <label>Loop 25</label>
        <locationX>8624</locationX>
        <locationY>10670</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_24</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_26</name>
        <label>Loop 26</label>
        <locationX>176</locationX>
        <locationY>16718</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_16</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_17</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_27</name>
        <label>Loop 27</label>
        <locationX>704</locationX>
        <locationY>16934</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_16</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_28</name>
        <label>Loop 28</label>
        <locationX>10032</locationX>
        <locationY>14798</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_29</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_14</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_29</name>
        <label>Loop 29</label>
        <locationX>10736</locationX>
        <locationY>14906</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_30</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_28</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_3</name>
        <label>Loop 3</label>
        <locationX>176</locationX>
        <locationY>16142</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_13</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_30</name>
        <label>Loop 30</label>
        <locationX>11088</locationX>
        <locationY>15014</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_31</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_29</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_31</name>
        <label>Loop 31</label>
        <locationX>11264</locationX>
        <locationY>15122</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_30</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_32</name>
        <label>Loop 32</label>
        <locationX>8624</locationX>
        <locationY>6422</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>iom</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_33</name>
        <label>Loop 33</label>
        <locationX>176</locationX>
        <locationY>19598</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_50</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_34</name>
        <label>Loop 34</label>
        <locationX>176</locationX>
        <locationY>19406</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_33</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_35</name>
        <label>Loop 35</label>
        <locationX>176</locationX>
        <locationY>19214</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_34</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_36</name>
        <label>Loop 36</label>
        <locationX>176</locationX>
        <locationY>19022</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_35</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_37</name>
        <label>Loop 37</label>
        <locationX>176</locationX>
        <locationY>18830</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_36</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_38</name>
        <label>Loop 38</label>
        <locationX>176</locationX>
        <locationY>18638</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_37</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_39</name>
        <label>Loop 39</label>
        <locationX>176</locationX>
        <locationY>18446</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_38</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_4</name>
        <label>Loop 4</label>
        <locationX>8624</locationX>
        <locationY>14498</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_14</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_40</name>
        <label>Loop 40</label>
        <locationX>176</locationX>
        <locationY>18254</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_39</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_42</name>
        <label>Loop 42</label>
        <locationX>8624</locationX>
        <locationY>2006</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_54</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_43</name>
        <label>Loop 43</label>
        <locationX>8624</locationX>
        <locationY>1814</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_42</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_44</name>
        <label>Loop 44</label>
        <locationX>8624</locationX>
        <locationY>1298</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Copy_1_of_q1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_43</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_45</name>
        <label>Loop 45</label>
        <locationX>8624</locationX>
        <locationY>782</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_q1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_44</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_46</name>
        <label>Loop 46</label>
        <locationX>176</locationX>
        <locationY>20858</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <loops>
        <name>Loop_47</name>
        <label>Loop 47</label>
        <locationX>176</locationX>
        <locationY>20558</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>error</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_48</name>
        <label>Loop 48</label>
        <locationX>176</locationX>
        <locationY>20366</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_47</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_49</name>
        <label>Loop 49</label>
        <locationX>176</locationX>
        <locationY>20174</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_48</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_5</name>
        <label>Loop 5</label>
        <locationX>8624</locationX>
        <locationY>12314</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_6</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_7</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_50</name>
        <label>Loop 50</label>
        <locationX>176</locationX>
        <locationY>19790</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_51</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_51</name>
        <label>Loop 51</label>
        <locationX>176</locationX>
        <locationY>19982</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_49</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_52</name>
        <label>Loop 52</label>
        <locationX>8624</locationX>
        <locationY>6230</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_32</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_53</name>
        <label>Loop 53</label>
        <locationX>8624</locationX>
        <locationY>6038</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_52</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_54</name>
        <label>Loop 54</label>
        <locationX>8624</locationX>
        <locationY>2198</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_55</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_55</name>
        <label>Loop 55</label>
        <locationX>8624</locationX>
        <locationY>2390</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_73</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_56</name>
        <label>Loop 56</label>
        <locationX>8624</locationX>
        <locationY>5846</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_53</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_57</name>
        <label>Loop 57</label>
        <locationX>8624</locationX>
        <locationY>5654</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_56</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_58</name>
        <label>Loop 58</label>
        <locationX>8624</locationX>
        <locationY>5462</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_57</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_59</name>
        <label>Loop 59</label>
        <locationX>8624</locationX>
        <locationY>5270</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_58</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_6</name>
        <label>Loop 6</label>
        <locationX>10032</locationX>
        <locationY>12422</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_8</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_5</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_60</name>
        <label>Loop 60</label>
        <locationX>8624</locationX>
        <locationY>5078</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_59</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_61</name>
        <label>Loop 61</label>
        <locationX>8624</locationX>
        <locationY>4886</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_60</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_62</name>
        <label>Loop 62</label>
        <locationX>8624</locationX>
        <locationY>4694</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_61</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_63</name>
        <label>Loop 63</label>
        <locationX>8624</locationX>
        <locationY>4502</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_62</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_64</name>
        <label>Loop 64</label>
        <locationX>8624</locationX>
        <locationY>4310</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_63</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_65</name>
        <label>Loop 65</label>
        <locationX>8624</locationX>
        <locationY>3926</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_66</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_66</name>
        <label>Loop 66</label>
        <locationX>8624</locationX>
        <locationY>4118</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_64</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_67</name>
        <label>Loop 67</label>
        <locationX>8624</locationX>
        <locationY>3734</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_65</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_68</name>
        <label>Loop 68</label>
        <locationX>8624</locationX>
        <locationY>3542</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_67</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_69</name>
        <label>Loop 69</label>
        <locationX>8624</locationX>
        <locationY>3350</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_68</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_7</name>
        <label>Loop 7</label>
        <locationX>8624</locationX>
        <locationY>13574</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>jn</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_70</name>
        <label>Loop 70</label>
        <locationX>8624</locationX>
        <locationY>3158</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_69</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_71</name>
        <label>Loop 71</label>
        <locationX>8624</locationX>
        <locationY>2966</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_70</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_72</name>
        <label>Loop 72</label>
        <locationX>8624</locationX>
        <locationY>2774</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_71</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_73</name>
        <label>Loop 73</label>
        <locationX>8624</locationX>
        <locationY>2582</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_72</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_74</name>
        <label>Loop 74</label>
        <locationX>8624</locationX>
        <locationY>10070</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_75</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_75</name>
        <label>Loop 75</label>
        <locationX>8624</locationX>
        <locationY>10262</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>get_acc</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_76</name>
        <label>Loop 76</label>
        <locationX>8624</locationX>
        <locationY>9878</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_74</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_77</name>
        <label>Loop 77</label>
        <locationX>8624</locationX>
        <locationY>9686</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_76</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_78</name>
        <label>Loop 78</label>
        <locationX>8624</locationX>
        <locationY>9494</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_77</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_79</name>
        <label>Loop 79</label>
        <locationX>8624</locationX>
        <locationY>9302</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_78</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_8</name>
        <label>Loop 8</label>
        <locationX>10736</locationX>
        <locationY>12530</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_9</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>kj</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_80</name>
        <label>Loop 80</label>
        <locationX>8624</locationX>
        <locationY>9110</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_79</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_81</name>
        <label>Loop 81</label>
        <locationX>8624</locationX>
        <locationY>8918</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_80</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_82</name>
        <label>Loop 82</label>
        <locationX>8624</locationX>
        <locationY>8726</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_81</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_83</name>
        <label>Loop 83</label>
        <locationX>8624</locationX>
        <locationY>8534</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_82</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_84</name>
        <label>Loop 84</label>
        <locationX>8624</locationX>
        <locationY>8342</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_83</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_85</name>
        <label>Loop 85</label>
        <locationX>8624</locationX>
        <locationY>8150</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_84</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_86</name>
        <label>Loop 86</label>
        <locationX>8624</locationX>
        <locationY>7958</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_85</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_87</name>
        <label>Loop 87</label>
        <locationX>8624</locationX>
        <locationY>7766</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_86</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_88</name>
        <label>Loop 88</label>
        <locationX>8624</locationX>
        <locationY>7574</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_87</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_89</name>
        <label>Loop 89</label>
        <locationX>8624</locationX>
        <locationY>7382</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_88</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_9</name>
        <label>Loop 9</label>
        <locationX>11088</locationX>
        <locationY>12638</locationY>
        <collectionReference>get_rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_10</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_8</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_90</name>
        <label>Loop 90</label>
        <locationX>8624</locationX>
        <locationY>7190</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_89</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_91</name>
        <label>Loop 91</label>
        <locationX>8624</locationX>
        <locationY>6998</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_90</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_92</name>
        <label>Loop 92</label>
        <locationX>8624</locationX>
        <locationY>6806</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Loop_91</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>sadf</name>
        <label>sadf</label>
        <locationX>528</locationX>
        <locationY>17594</locationY>
        <collectionReference>get_acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_6_of_sadf</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_18</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Records_2</name>
        <label>Create Records 2</label>
        <locationX>8712</locationX>
        <locationY>13982</locationY>
        <connector>
            <targetReference>Loop_12</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsConverted</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsUnreadByOwner</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>jn</name>
        <label>jn</label>
        <locationX>8624</locationX>
        <locationY>13766</locationY>
        <connector>
            <targetReference>Loop_12</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X55</name>
        <label>55</label>
        <locationX>8624</locationX>
        <locationY>15650</locationY>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Copy_1_of_get_rec</name>
        <label>Copy 1 of Copy 1 of get rec</label>
        <locationX>8712</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_asd</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Approval Process</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>Status</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_get_rec</name>
        <label>Copy 1 of get rec</label>
        <locationX>8712</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_asd</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Approval Process</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>Status</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_acc</name>
        <label>get acc</label>
        <locationX>8624</locationX>
        <locationY>10454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>io</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillingStreet</field>
            <operator>IsNull</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_rec</name>
        <label>get rec</label>
        <locationX>5808</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_asd</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Approval Process</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>Status</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>upd</name>
        <label>upd</label>
        <locationX>8624</locationX>
        <locationY>14390</locationY>
        <connector>
            <targetReference>Loop_4</targetReference>
        </connector>
        <inputReference>Loop_3</inputReference>
    </recordUpdates>
    <screens>
        <name>X123</name>
        <label>123</label>
        <locationX>8624</locationX>
        <locationY>14282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>upd</targetReference>
        </connector>
        <fields>
            <name>text_1</name>
            <dataType>String</dataType>
            <fieldText>text 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X321</name>
        <label>321</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <fields>
            <name>text_0</name>
            <dataType>String</dataType>
            <fieldText>text 0</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X321</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>error</name>
        <label>error</label>
        <locationX>176</locationX>
        <locationY>20750</locationY>
        <connector>
            <targetReference>Loop_46</targetReference>
        </connector>
        <flowName>Flow_1_Error</flowName>
    </subflows>
    <subflows>
        <name>error_flow</name>
        <label>error flow</label>
        <locationX>5808</locationX>
        <locationY>15842</locationY>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <flowName>X11</flowName>
    </subflows>
    <subflows>
        <name>io</name>
        <label>io</label>
        <locationX>8624</locationX>
        <locationY>10562</locationY>
        <connector>
            <targetReference>Loop_25</targetReference>
        </connector>
        <flowName>Flow_1_Error</flowName>
    </subflows>
    <subflows>
        <name>kj</name>
        <label>kj</label>
        <locationX>10736</locationX>
        <locationY>13298</locationY>
        <connector>
            <targetReference>Loop_6</targetReference>
        </connector>
        <flowName>Flow_2_Error</flowName>
    </subflows>
    <textTemplates>
        <name>temp1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;test&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItem_fsf</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
